.about-mucisa {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 2rem;
  margin: -20px auto auto auto;
}

.about-content {
  flex: 1;
  min-width: 300px;
  padding: 1rem;
   
}

.about-content h2 {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;

}

.learn-more-btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: var(--luxury);
  color: var(--accent);
  border-radius: 5px;
  text-decoration: none;
}

.about-image {
  flex: 1;
  min-width: 300px;
  padding: 1rem;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.about-icon {
  font-size: 2.9rem;
  color: var(--luxury);
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) and (max-width: 480px) {
 .about-mucisa {
  padding: 0 ;
  margin: 0 auto auto auto;
}
.about-image {
  flex: 1;
  min-width: 200px;
  padding: 1rem;
  text-align: center;
}
}